html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url(../images/bg-mobile.svg);
  background-color: #684bb1;
  background-repeat: no-repeat;
}

p {
  font-family: "Open Sans", sans-serif;
}

.header {
  margin-top: 38px;
  margin-left: 40px;
}
.header__logo {
  width: 120px;
  height: 35px;
}

.main {
  padding-top: 50px;
}
.main__image {
  width: 296px;
  height: 209px;
  margin-left: 40px;
  margin-right: 39px;
}
.main__content {
  margin: 55px 35px 0 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__heading {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.main__para {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 16px;
}
.main__button {
  margin-top: 24px;
  background: #ffffff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #684bb1;
  padding: 11px;
  border: none;
  width: 65.8%;
}
.main__button:hover {
  cursor: pointer;
  background: #e880e8;
  color: #ffffff;
}

.footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 64px;
}
.footer ul li {
  border: 0.798301px solid #ffffff;
  border-radius: 50%;
  color: white;
}
.footer ul li:hover {
  cursor: pointer;
  border: 0.798301px solid #ff52c1;
  color: #ff52c1;
}
.footer ul li + li {
  margin-left: 10.5px;
}
.footer ul .fa-facebook-f {
  padding: 5px 8px;
}
.footer ul .fa-twitter {
  padding: 5px;
}
.footer ul .fa-instagram {
  padding: 5px 6px;
}

@media (min-width: 800px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
  }
  .header {
    margin-left: 80px;
    margin-top: 64px;
  }
  .header__logo {
    width: 200px;
    height: auto;
  }
  .main {
    display: flex;
  }
  .main__image {
    width: 696px;
    height: 493px;
    margin-left: 80px;
    margin-right: 59px;
  }
  .main__content {
    margin: 0;
    margin-top: 32px;
    margin-right: 85px;
    align-items: flex-start;
  }
  .main__heading {
    font-size: 40px;
    line-height: 60px;
    text-align: start;
  }
  .main__para {
    font-size: 18px;
    line-height: 27px;
    text-align: start;
    width: 99%;
    margin-top: 24px;
  }
  .main__button {
    font-size: 18px;
    line-height: 27px;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    border-radius: 28px;
    padding: 13px 0 16px 0;
    width: 38.1%;
  }
  .footer ul {
    justify-content: end;
    margin-right: 80px;
  }
  .footer li {
    border: 1.17647px solid #ffffff;
    border-radius: 50%;
    color: white;
  }
  .footer li + li {
    margin-left: 16px;
  }
  .footer .fa-facebook-f {
    padding: 10px 14px !important;
  }
  .footer .fa-twitter {
    padding: 10px !important;
  }
  .footer .fa-instagram {
    padding: 10px 12px !important;
  }
}/*# sourceMappingURL=styles.css.map */